{% extends "base.html" %}
    {% block content %}
                <div class="text-box">
                    <h1>about me: </h1>
                        <div class="about-container">
                            <br>
                            <p>Hi there. I'm a full-stack web developer with experience programming in JavaScript,
                            React, Redux, Node.js, Python, Django, HTML/CSS, SQL and Postgres.
                            I chose the path of software engineering because it suits my musical and creative skills,
                             as well as my passion for logic and mathematics. 
                            I have an eye for detail, a desire to learn, and consider myself a team player who can
                            take on leadership roles as well. I'm particularly interested in building large scalable
                            front-end systems and care about crafting an elegant UI and user experience.
                            My key strengths lie in my ability to keep calm under pressure, remain patient when it 
                            comes to debugging, and to communicate clearly with coworkers and customers. 
                            Not only is software programming complementary to my other creative pursuits, 
                            it gives me a great deal to work towards as I continue developing my learning styles to adapt
                            to new technologies.
                           <br><br>
                            My interests include writing and recording music with Reaper in my home studio, herbalism, gardening, yoga and programming.  </p>
                            <br>
                        </div>

                        <h2>contact:</h2>
                        <br>
                        <a href="mailto:nicolchawkins@gmail.com" class="btn-email">send me an email</a>
                </div>
    {% endblock content %}