{% extends "base.html" %}
    {% block content %}
                <div class="text-box">
                    <h1>about me: </h1>
                        <div class="about-container">
                            <br>
                            <p>I'm a recent programming bootcamp graduate seeking a full-time
                            internship or entry-level web development position. I chose the path of software
                            engineering because the process suits my creative and musical abilities, 
                            as well as my passion for logic and mathematics. Coding is both challenging and
                            rewarding for me, as I enjoy diving deep diving into problems and finding solutions.
                            Not only is software programming complementary to my other creative pursuits, 
                            it gives me so much to work towards as I continue developing my learning style and adapt
                            to new technologies.
                           <br><br>
                            My interests include playing and recording music, herbalism, gardening, <br> yoga and coding.  </p>
                            <br>
                        </div>

                        <h2>contact:</h2>
                        <br>
                        <a href="mailto:nicolchawkins@gmail.com" class="btn-email">send me an email</a>
                </div>
    {% endblock content %}