{% extends "base.html" %}
    {% block content %}
                <div class="text-box">
                    <h1 class="proj">projects:</h1>
                        <div class="proj-container">
                            <div class="projects">
                                <a href="https://herbal-antidote.herokuapp.com/" target="_blank"><img src="static/img/projects/herbal-antidote.png" class="proj-img"></a>
                                    <div class="proj-info">
                                        <h3 class="proj-name">Herbal Antidote</h3>
                                        <p>A quiz built using python to generate recommendations for herbal remedies.</p>
                                    </div>
                            </div>
                            <div class="projects">
                                <a href="https://south-american-forests.herokuapp.com/" target="_blank"><img src="static/img/projects/react-graph.png" class="proj-img"></a>
                                    <div class="proj-info">
                                        <h3>React Graph</h3>
                                        <p>An interactive react bar-chart displaying percentages of forest land in South American countries by year.</p>
                                    </div>
                            </div>
                            <div class="projects">
                                <a href="http://the-scratchpost.herokuapp.com/projects/" target="_blank"><img src="static/img/projects/the-scratchpost.png" class="proj-img"></a>
                                <div class="proj-info">
                                    <h3>Beat-Sheet Organizer</h3>
                                    <p>A minimalist beatsheet organizer for screenwriters and creatives.</p>
                                </div>
                            </div>
                        </div>
                    </div>
    {% endblock content %}