{% extends "base.html" %}  
    {% block content %}                  
                    <div class="text-box">
                        <h1>resume:</h1>
                            <div class="resume-border">
                            <br>
                            <p><b>Data Analyst Intern | Peralta Genomics Lab |</b> Alameda, CA  <i>2018-2019</i></p>
                            <ul>
                                <li>Assisted with query preparations for amphibian DNA sequences in FASTA format.</li>
                                <li>Ran several Perl scripts to auto assemble data pipeline, parse DNA for gene translation, and assemble reads with filtered contigs to remove potential gene copies.</li>
                                <li>Used Python to import modules from Biopython Library and called methods to check translated amino acid sequences for stop codons. </li>
                                <li>Wrote to several Python dictionaries using methods for mining and compiling nucleotide sequences from a gene capture dataset.</li>
                                <li>Parsed data to eliminate frames with inappropriate stop codons.</li>
                            </ul>
                            <br>
                            <p><b>Web Development Apprentice | Kickstart Coding |</b> Oakland, CA  <i>2019</i> </p>
                            <ul>
                                <li>Developed dynamic web applications with Python, Django and React.js.</li>
                                <li>Parsed SQLite data into responsive web templates to build Python quiz demonstrating user generated outputs.</li>
                                <li>Designed an interactive data-visualization graph in React.js using life-cycle methods and JSX looping syntax to tranform JSON data.</li>
                                <li>Wrote back-end CRUD operations for a beat sheet organizer web application using React components.</li>
                            </ul>
                        </div>
                        <br>
                        <div class="skills-container">
                            <div>
                                <b>Programming Languages</b>
                                <br>
                                <div class="skills-info">
                                    Python<br>
                                    Javascript<br>
                                    HTML/CSS<br>
                                </div>
                            </div>
                            <div>
                                <b>Frameworks</b>
                                <div class="skills-info">
                                    Django<br>
                                    React<br>
                                    Redux<br>
                                </div>
                            </div>
                            <div>
                                <b>Databases/Tools</b>
                                <div class="skills-info">
                                    PostgreSQL<br>
                                    MongoDB<br>
                                    Git<br>
                                </div>
                            </div> 
                        </div>
                        <br>
                        <div class="ed-container">
                            <div>
                                <b>Education:</b>
                            </div>
                            <div class="ed-info">
                                <i><b>Full-Stack Web Development </b></i> | Kickstart Coding Oakland, CA  <i>2020</i>
                                <br>
                                <i><b>Associates of Science in Natural Sciences </b></i> | Merritt College Oakland, CA <i>2018</i>
                            </div>
                        </div>
                    </div>
    {% endblock content %}