{% extends "base.html" %}  
    {% block content %}                  
                    <div class="text-box">
                        <h1>resume:</h1>
                            <div class="resume-border">
                            <br>
                            <p><b>Data Analyst Intern | Peralta Genomics Lab |</b> Alameda, CA  <i>2018-2019</i></p>
                            <ul>
                                <li>Facilitated query preparations for amphibian DNA sequences in fasta format.</li>
                                <li>Ran several Perl scripts to auto assemble data pipeline. The scripts were used to remove duplicates, parse DNA for gene translation, assemble reads with filtered contigs for each gene, and remove potential gene copies.</li>
                                <li>Used Python to import modules from Biopython Library and called methods to check translated amino acid sequences for stop codons. </li>
                                <li>Wrote to several Python dictionaries using methods for mining and compiling nucleotide sequences from a Gene Capture dataset.</li>
                                <li>Parsed the results to eliminate frames with inappropriate stop codons.</li>
                            </ul>
                            <br>
                            <p><b>Web Development Apprentice | Kickstart Coding |</b> Oakland, CA  <i>2019</i> </p>
                            <ul>
                                <li>Built several applications with Python, Django and React.js.</li>
                                <li>Wrote back-end code for a quiz in Python using boolean values.</li>
                                <li>Built a data-visualization graph in React.js with data transformations.</li>
                                <li>Wrote back-end CRUD operations for a beat sheet organizer web application.</li>
                            </ul>
                        </div>
                        <br>
                        <div class="skills-container">
                            <div>
                                <b>Programming Languages</b>
                                <br>
                                <div class="skills-info">
                                    Python<br>
                                    Javascript<br>
                                    HTML/CSS<br>
                                </div>
                            </div>
                            <div>
                                <b>Frameworks</b>
                                <div class="skills-info">
                                    Django<br>
                                    React<br>
                                    Redux<br>
                                </div>
                            </div>
                            <div>
                                <b>Databases/Tools</b>
                                <div class="skills-info">
                                    PostgreSQL<br>
                                    MongoDB<br>
                                    Git<br>
                                </div>
                            </div> 
                        </div>
                        <br>
                        <div class="ed-container">
                            <div>
                                <b>Education:</b>
                            </div>
                            <div class="ed-info">
                                <b>Full-Stack Web Development</b> | Kickstart Coding Oakland, CA  <i>2020</i>
                                <br>
                                <b>Associates of Science in Natural Sciences</b> | Merritt College Oakland, CA <i>2018</i>
                            </div>
                        </div>
                    </div>
    {% endblock content %}